# Automake files
configure
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
missing
makefile
Makefile
*.in
autom4te.cache/
configure.log
config.*
stamp-h1
.deps/

# temporary emacs files
*~
 #*#

# Lex and bison files
org_lexer.c
org_lexer.h
src/lex.yy.c

# Compiled objects
*.o
libgnu.a
org-merge-driver
check_org-merge-driver

# Emacs org-mode files
doc/ltxpng
doc/implementation.org_archive
