root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,html}]
charset = utf-8
max_line_length = 120
indent_style = space

[*.html]
indent_size = 2

[javascript/*.js]
indent_size = 4
