[submodule "lib/apel"]
	path = lib/apel
	url = https://github.com/emacsmirror/apel.git
[submodule "lib/popup-el"]
	path = lib/popup-el
	url = https://github.com/m2ym/popup-el.git
[submodule "lib/fuzzy-el"]
	path = lib/fuzzy-el
	url = https://github.com/m2ym/fuzzy-el.git
[submodule "lib/gh-el"]
	path = lib/gh-el
	url = https://github.com/sigma/gh.el.git
[submodule "lib/logito"]
	path = lib/logito
	url = https://github.com/sigma/logito.git
[submodule "lib/pcache"]
	path = lib/pcache
	url = https://github.com/sigma/pcache.git
[submodule "lisp/alert"]
	path = lisp/alert
	url = https://github.com/jwiegley/alert.git
[submodule "lisp/chess"]
	path = lisp/chess
	url = https://github.com/jwiegley/emacs-chess.git
[submodule "lisp/eshell"]
	path = lisp/eshell
	url = https://github.com/jwiegley/eshell.git
[submodule "lisp/gnus-harvest"]
	path = lisp/gnus-harvest
	url = https://github.com/jwiegley/gnus-harvest.git
[submodule "lisp/initsplit"]
	path = lisp/initsplit
	url = https://github.com/dabrahams/initsplit.git
[submodule "lisp/muse"]
	path = lisp/muse
	url = https://github.com/jwiegley/muse.git
[submodule "lisp/regex-tool"]
	path = lisp/regex-tool
	url = https://github.com/jwiegley/regex-tool.git
[submodule "override/gnus"]
	path = override/gnus
	url = http://git.gnus.org/gnus.git
[submodule "override/org-mode"]
	path = override/org-mode
	url = https://github.com/jwiegley/org-mode.git
[submodule "override/tramp"]
	path = override/tramp
	url = https://github.com/jwiegley/tramp.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/anything"]
	path = site-lisp/anything
	url = https://github.com/jwiegley/anything-config.git
[submodule "site-lisp/auctex"]
	path = site-lisp/auctex
	url = https://github.com/jwiegley/auctex.git
[submodule "site-lisp/doxymacs"]
	path = site-lisp/doxymacs
	url = git://doxymacs.git.sourceforge.net/gitroot/doxymacs/doxymacs
[submodule "site-lisp/emacs-w3m"]
	path = site-lisp/emacs-w3m
	url = https://github.com/jwiegley/emacs-w3m.git
[submodule "site-lisp/ess"]
	path = site-lisp/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule "site-lisp/gist"]
	path = site-lisp/gist
	url = https://github.com/defunkt/gist.el.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = https://github.com/jwiegley/haskell-mode.git
[submodule "site-lisp/info-lookmore"]
	path = site-lisp/info-lookmore
	url = https://github.com/emacsmirror/info-lookmore.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/jwiegley/magit.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = https://github.com/emacsmirror/markdown-mode.git
[submodule "site-lisp/nxhtml"]
	path = site-lisp/nxhtml
	url = https://github.com/jwiegley/nxhtml.git
[submodule "site-lisp/offlineimap"]
	path = site-lisp/offlineimap
	url = https://github.com/emacsmirror/offlineimap.git
[submodule "site-lisp/org-mac-protocol"]
	path = site-lisp/org-mac-protocol
	url = https://github.com/emacsmirror/org-mac-protocol.git
[submodule "site-lisp/org-magit"]
	path = site-lisp/org-magit
	url = https://github.com/sigma/org-magit.git
[submodule "site-lisp/python-mode"]
	path = site-lisp/python-mode
	url = https://github.com/jwiegley/python-mode.git
[submodule "site-lisp/session"]
	path = site-lisp/session
	url = https://github.com/jwiegley/session.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = https://github.com/nablaone/slime.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/jwiegley/yasnippet.git
[submodule "site-lisp/zencoding"]
	path = site-lisp/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule "site-lisp/boxquote"]
	path = site-lisp/boxquote
	url = https://github.com/emacsmirror/boxquote.git
[submodule "site-lisp/workgroups"]
	path = site-lisp/workgroups
	url = https://github.com/tlh/workgroups.el.git
[submodule "site-lisp/dired-sync"]
	path = site-lisp/dired-sync
	url = https://github.com/renard/dired-sync.git
[submodule "site-lisp/yari-with-buttons"]
	path = site-lisp/yari-with-buttons
	url = https://github.com/pedz/yari-with-buttons.git
[submodule "site-lisp/wrap-region"]
	path = site-lisp/wrap-region
	url = https://github.com/rejeep/wrap-region.git
[submodule "site-lisp/ghc-mod"]
	path = site-lisp/ghc-mod
	url = https://github.com/kazu-yamamoto/ghc-mod.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/jwiegley/auto-complete.git
[submodule "site-lisp/git-commit-mode"]
	path = site-lisp/git-commit-mode
	url = https://github.com/rafl/git-commit-mode.git
[submodule "site-lisp/sunrise-commander"]
	path = site-lisp/sunrise-commander
	url = https://github.com/jwiegley/sunrise-commander.git
[submodule "site-lisp/bm"]
	path = site-lisp/bm
	url = https://github.com/joodland/bm.git
[submodule "site-lisp/lua-mode"]
	path = site-lisp/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "site-lisp/emacs-quickrun"]
	path = site-lisp/emacs-quickrun
	url = https://github.com/syohex/emacs-quickrun.git
