*.elc
*.tar.xz
*~
.DS_Store
/auto-save-list/
/autoloads.el
/chatgpt/
/compile.log
/cus-dirs.el
/data*/
/eln-cache/
/elpa/
/emojis/
/eshell/
/forge-database.sqlite
/info/
/init.el
/lisp/corfu/
/lisp/emacs-format-all-the-code/
/lisp/org-mode/
/logs/
/projects
/settings.el
/var/
