*.elc
*.info
/lisp/bbdb-loaddefs.el
/lisp/bbdb-site.el
/lisp/bbdb-pkg.el
/lisp/TAGS
/doc/bbdb.pdf
/doc/bbdb.t2p/
/doc/texinfo.tex
/doc/dir
Makefile
Makefile.in
/autom4te.cache/
/config.*
/configure
/aclocal.m4
/install-sh
/INSTALL
/missing
