*.elc
*~
/.ercpass
/.passwd
/archive/
/autoloads.el
/backups/
/cus-dirs.el
/data/
/devel
/devel/
/doc/
/eshell/
/index/
/info/
/mirror
/mirror/
/nnmaildir.el
/override/cc-mode/
/reference/
/site-lisp/cedet/
/site-lisp/ecb/
/src
/src/
/upstream/
/url/
/yaoddmuse/
