include INSTALL	
include INSTALL-INFO-FILES
include LICENSE	
include NEWS	
include README
include README-ROPEMACS
include README_VIRTUALENV
include README_DEVEL.org
include README-AUTOPAIR.org
include byte-compile-directory.sh
include completion/auto-complete-pycomplete.el
include completion/company-pycomplete.el
include completion/pycomplete.el
include completion/pycomplete.py
include completion/test_pycomplete.py
include doc/commands-python-mode.org
include doc/commands-python-mode.rst
include doc/variables-python-mode.org
include doc/variables-python-mode.rst
include python-mode.el
include test/doctest-mode.el
include test/py-ert-tests-1.el
include test/py-ert-tests-2.el
include test/py-ert-always-split-lp-1361531-tests.el
include test/py-ert-just-two-split-lp-1361531-tests.el
include test/py-ert-beginning-tests.el
include test/py-ert-forward-tests.el
include test/py-ert-function-tests.el
include test/py-ert-variablen-tests.el
include test/py-shell-arg-ert-tests.el
include test/py-ert-execute-block-test.el
include test/py-ert-execute-region-test.el
include test/py-execute-region-commandp-test.el
include test/py-ert-tests-2.el
include test/py-ert-tests-3.el
include test/py-ert-forward-tests.el
include test/py-ert-tests-4.el
include test/py-extra-tests.el
