/*
  CSS Definitions for Edit with Emacs

  This is used to control the position of the "edit" button in the page.
  As the rules for divs and text areas are different we have different
  classes to control them.
 */

.ewe_edit_button {
    width: 28px;
    height: 14px;
    float: right;
    opacity:0.7;
}

.ewe_ta_edit_button {
    width: 28px;
    height: 14px;
    cursor: pointer;
    float: right;
    opacity:0.7;
}

.ewe_div_edit_button {
    width: 28px;
    height: 14px;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 14px;
    opacity:0.7;
}
