Alex Rozenshteyn <rpglover64@gmail.com>
Gracjan Polak <gracjan@scrive.com>
Mark Karpov <markkarpov@opmbx.org>
Michael Alan Dorman <mdorman@ironicdesign.com>
Sebastian Wiesner <swiesner@lunaryorn.com> <lunaryorn@gmail.com>
Sebastian Wiesner <swiesner@lunaryorn.com> <sebastian.wiesner@gutefrage.net>
Steve Purcell <steve@sanityinc.com>
