*.hi
*.hs.20*
*.o
*.swp
*.refactored.hs
/.hpc/
/debug.log
/hareview/.vagrant
/hspec-failures
/old/editors/LocalSettings.hs
/old/refactorer/Paths_HaRe.hs
/old/refactorer/evaluate_result
/old/testing/addCon/Case1.hs.temp.hs
/old/testing/addCon/Case2.hs.temp.hs
/old/testing/evalAddEvalMon/UTestCache
/old/testing/introThreshold/UTestCache
/spec.tix
/src/Ole.hs.AST_out
/src/Ole.hs.renamed_out
/src/Ole.hs.tokens
/src/Ole.hs.tokens1
/src/ZipperLensGist.hs
/src/ZipperPlayRose.hs
/src/strafunski.hs
/test/debug.log
/test/testdata/cabal/cabal2/src/*.AST_out
/test/testdata/cabal/cabal2/src/*.renamed_out
/test/testdata/cabal/cabal2/src/*.tokens
/test/testdata/Case/B.hs.AST_out
/test/testdata/Case/B.hs.renamed_out
/test/testdata/Case/B.hs.tokens
/test/testdata/Demote/#D1.hs.tokens#
/test/testdata/Demote/CaseIn1.hs.AST_out
/test/testdata/Demote/CaseIn1.hs.renamed_out
/test/testdata/Demote/CaseIn1.hs.tokens
/test/testdata/Demote/D1.hs.AST_out
/test/testdata/Demote/D1.hs.renamed_out
/test/testdata/Demote/D1.hs.tokens
/test/testdata/Demote/D2.hs.AST_out
/test/testdata/Demote/D2.hs.expected.1
/test/testdata/Demote/D2.hs.renamed_out
/test/testdata/Demote/D2.hs.tokens
/test/testdata/Demote/LetIn1.hs.AST_out
/test/testdata/Demote/LetIn1.hs.renamed_out
/test/testdata/Demote/LetIn1.hs.tokens
/test/testdata/Demote/PatBindIn1.hs.AST_out
/test/testdata/Demote/PatBindIn1.hs.renamed_out
/test/testdata/Demote/PatBindIn1.hs.tokens
/test/testdata/Demote/PatBindIn4.hs.tokens
/test/testdata/Demote/WhereIn1.hs.AST_out
/test/testdata/Demote/WhereIn1.hs.renamed_out
/test/testdata/Demote/WhereIn1.hs.tokens
/test/testdata/Demote/WhereIn2.hs.AST_out
/test/testdata/Demote/WhereIn2.hs.renamed_out
/test/testdata/Demote/WhereIn2.hs.tokens
/test/testdata/Demote/WhereIn3.hs.AST_out
/test/testdata/Demote/WhereIn3.hs.renamed_out
/test/testdata/Demote/WhereIn3.hs.tokens
/test/testdata/Demote/WhereIn4.hs.AST_out
/test/testdata/Demote/WhereIn4.hs.renamed_out
/test/testdata/Demote/WhereIn4.hs.tokens
/test/testdata/Demote/WhereIn5.hs.AST_out
/test/testdata/Demote/WhereIn5.hs.renamed_out
/test/testdata/Demote/WhereIn5.hs.tokens
/test/testdata/Demote/WhereIn6.hs.AST_out
/test/testdata/Demote/WhereIn6.hs.renamed_out
/test/testdata/Demote/WhereIn6.hs.tokens
/test/testdata/Demote/WhereIn7.hs.AST_out
/test/testdata/Demote/WhereIn7.hs.renamed_out
/test/testdata/Demote/WhereIn7.hs.tokens
/test/testdata/DupDef/Dd1.hs.AST_out
/test/testdata/DupDef/Dd1.hs.renamed_out
/test/testdata/DupDef/Dd1.hs.tokens
/test/testdata/DupDef/Dd2.hs.AST_out
/test/testdata/DupDef/Dd2.hs.renamed_out
/test/testdata/DupDef/Dd2.hs.tokens
/test/testdata/LiftToToplevel/C1.hs.AST_out
/test/testdata/LiftToToplevel/C1.hs.renamed_out
/test/testdata/LiftToToplevel/C1.hs.tokens
/test/testdata/LiftToToplevel/C2.hs.AST_out
/test/testdata/LiftToToplevel/C2.hs.renamed_out
/test/testdata/LiftToToplevel/C2.hs.tokens
/test/testdata/LiftToToplevel/D1.hs.AST_out
/test/testdata/LiftToToplevel/D1.hs.renamed_out
/test/testdata/LiftToToplevel/D1.hs.tokens
/test/testdata/LiftToToplevel/D2.hs.AST_out
/test/testdata/LiftToToplevel/D2.hs.renamed_out
/test/testdata/LiftToToplevel/D2.hs.tokens
/test/testdata/LiftToToplevel/D3.hs.AST_out
/test/testdata/LiftToToplevel/D3.hs.renamed_out
/test/testdata/LiftToToplevel/D3.hs.tokens
/test/testdata/LiftToToplevel/WhereIn1.hs.AST_out
/test/testdata/LiftToToplevel/WhereIn1.hs.renamed_out
/test/testdata/LiftToToplevel/WhereIn1.hs.tokens
/test/testdata/MoveDef/Demote.hs.AST_out
/test/testdata/MoveDef/Demote.hs.renamed_out
/test/testdata/MoveDef/Demote.hs.tokens
/test/testdata/MoveDef/Md1.hs.AST_out
/test/testdata/MoveDef/Md1.hs.orig
/test/testdata/MoveDef/Md1.hs.renamed_out
/test/testdata/MoveDef/Md1.hs.tokens
/test/testdata/NoMod
/test/testdata/SwapArgs/B.hs.AST_out
/test/testdata/SwapArgs/B.hs.renamed_out
/test/testdata/SwapArgs/B.hs.tokens
/testing/evalAddEvalMon/UTestCache
/testing/introThreshold/UTestCache
dist/
editors/Emacs/haskell-refac.el
editors/Emacs/haskell-refac.el2
editors/GenEditorInterfaces
editors/LocalSettings.hs
editors/LocalSettings.hs:
editors/Vim/refactor.vim
log.txt
refactorer/PfeRefactoringCmds.hs
refactorer/evaluate
refactorer/evaluate_result
refactorer/pfe
refactorer/pfe_client
testing/*/hi
testing/UTest
testing/addCon/Case1.hs.temp.hs
testing/addCon/Case2.hs.temp.hs
/test/testdata/LiftToToplevel/WhereIn6.hs.AST_out
/test/testdata/LiftToToplevel/WhereIn6.hs.renamed_out
/test/testdata/LiftToToplevel/WhereIn6.hs.tokens
/test/testdata/LiftToToplevel/WhereIn7.hs.AST_out
/test/testdata/LiftToToplevel/WhereIn7.hs.renamed_out
/test/testdata/LiftToToplevel/WhereIn7.hs.tokens
/test/testdata/LiftToToplevel/LetIn1.hs.AST_out
/test/testdata/LiftToToplevel/LetIn1.hs.renamed_out
/test/testdata/LiftToToplevel/LetIn1.hs.tokens
/test/testdata/LiftToToplevel/LetIn2.hs.AST_out
/test/testdata/LiftToToplevel/LetIn2.hs.renamed_out
/test/testdata/LiftToToplevel/LetIn2.hs.tokens
/test/testdata/LiftToToplevel/LetIn3.hs.AST_out
/test/testdata/LiftToToplevel/PatBindIn1.hs.AST_out
/test/testdata/LiftToToplevel/PatBindIn1.hs.renamed_out
/test/testdata/LiftToToplevel/PatBindIn1.hs.tokens
/test/testdata/LiftToToplevel/PatBindIn3.hs.AST_out
/test/testdata/LiftToToplevel/PatBindIn3.hs.renamed_out
/test/testdata/LiftToToplevel/PatBindIn3.hs.tokens
/test/testdata/LiftToToplevel/CaseIn1.hs.AST_out
/test/testdata/LiftToToplevel/CaseIn1.hs.renamed_out
/test/testdata/LiftToToplevel/CaseIn1.hs.tokens
/test/testdata/LiftToToplevel/PatBindIn2.hs.AST_out
/test/testdata/LiftToToplevel/PatBindIn2.hs.renamed_out
/test/testdata/LiftToToplevel/PatBindIn2.hs.tokens
/test/testdata/LiftOneLevel/D1.hs.AST_out
/test/testdata/LiftOneLevel/D1.hs.renamed_out
/test/testdata/LiftOneLevel/D1.hs.tokens
/test/testdata/LiftOneLevel/C2.hs.AST_out
/test/testdata/LiftOneLevel/C2.hs.renamed_out
/test/testdata/LiftOneLevel/C2.hs.tokens
/test/testdata/LiftOneLevel/D1.hs.alt
/test/testdata/LiftOneLevel/A1.hs.expected
/test/testdata/LiftOneLevel/D2.hs.AST_out
/test/testdata/LiftOneLevel/D2.hs.renamed_out
/test/testdata/LiftOneLevel/D2.hs.tokens
/test/testdata/LiftOneLevel/D3.hs.AST_out
/test/testdata/LiftOneLevel/D3.hs.renamed_out
/test/testdata/LiftOneLevel/D3.hs.tokens
/test/testdata/LiftOneLevel/WhereIn1.hs.AST_out
/test/testdata/LiftOneLevel/WhereIn1.hs.renamed_out
/test/testdata/LiftOneLevel/WhereIn1.hs.tokens
/test/testdata/LiftOneLevel/C1.hs.AST_out
/test/testdata/LiftOneLevel/C1.hs.renamed_out
/test/testdata/LiftOneLevel/C1.hs.tokens
/test/testdata/LiftOneLevel/WhereIn6.hs.AST_out
/test/testdata/LiftOneLevel/WhereIn6.hs.renamed_out
/test/testdata/LiftOneLevel/WhereIn6.hs.tokens
/test/testdata/LiftOneLevel/WhereIn7.hs.AST_out
/test/testdata/LiftOneLevel/WhereIn7.hs.renamed_out
/test/testdata/LiftOneLevel/WhereIn7.hs.tokens
/test/testdata/LiftOneLevel/WhereIn8.hs.AST_out
/test/testdata/LiftOneLevel/WhereIn8.hs.renamed_out
/test/testdata/LiftOneLevel/WhereIn8.hs.tokens
/test/testdata/LiftOneLevel/LetIn1.hs.AST_out
/test/testdata/LiftOneLevel/LetIn1.hs.renamed_out
/test/testdata/LiftOneLevel/LetIn1.hs.tokens
/test/testdata/LiftOneLevel/LetIn2.hs.AST_out
/test/testdata/LiftOneLevel/LetIn2.hs.renamed_out
/test/testdata/LiftOneLevel/LetIn2.hs.tokens
/test/testdata/LiftOneLevel/LetIn3.hs.AST_out
/test/testdata/LiftOneLevel/LetIn3.hs.renamed_out
/test/testdata/LiftOneLevel/LetIn3.hs.tokens
/test/testdata/LiftOneLevel/PatBindIn3.hs.AST_out
/test/testdata/LiftOneLevel/PatBindIn3.hs.renamed_out
/test/testdata/LiftOneLevel/PatBindIn3.hs.tokens
/test/testdata/LiftOneLevel/CaseIn1.hs.AST_out
/test/testdata/LiftOneLevel/CaseIn1.hs.renamed_out
/test/testdata/LiftOneLevel/CaseIn1.hs.tokens
/test/testdata/LiftOneLevel/PatBindIn2.hs.AST_out
/test/testdata/LiftOneLevel/PatBindIn2.hs.renamed_out
/test/testdata/LiftOneLevel/PatBindIn2.hs.tokens
/TAGS
/tags
/elisp/hare.elc
/test/testdata/Renaming/Field1.hs.AST_out
/test/testdata/Renaming/Field1.hs.renamed_out
/test/testdata/Renaming/Field1.hs.tokens
/TODO.org_archive
/test/testdata/Renaming/Field3.hs.AST_out
/test/testdata/Renaming/Field3.hs.renamed_out
/test/testdata/Renaming/Field3.hs.tokens
/test/testdata/Renaming/D1.hs.AST_out
/test/testdata/Renaming/D1.hs.renamed_out
/test/testdata/Renaming/D1.hs.tokens
/test/testdata/Renaming/A1.hs.AST_out
/test/testdata/Renaming/A1.hs.renamed_out
/test/testdata/Renaming/A1.hs.tokens
/test/testdata/Renaming/B1.hs.AST_out
/test/testdata/Renaming/B1.hs.renamed_out
/test/testdata/Renaming/B1.hs.tokens
/test/testdata/Renaming/C1.hs.AST_out
/test/testdata/Renaming/C1.hs.renamed_out
/test/testdata/Renaming/C1.hs.tokens
/test/testdata/Renaming/B2.hs.AST_out
/test/testdata/Renaming/B2.hs.renamed_out
/test/testdata/Renaming/B2.hs.tokens
/test/testdata/Renaming/C2.hs.AST_out
/test/testdata/Renaming/C2.hs.renamed_out
/test/testdata/Renaming/C2.hs.tokens
/test/testdata/Renaming/D2.hs.AST_out
/test/testdata/Renaming/D2.hs.renamed_out
/test/testdata/Renaming/D2.hs.tokens
/test/testdata/Renaming/B3.hs.AST_out
/test/testdata/Renaming/B3.hs.renamed_out
/test/testdata/Renaming/B3.hs.tokens
/test/testdata/Renaming/C3.hs.AST_out
/test/testdata/Renaming/C3.hs.renamed_out
/test/testdata/Renaming/C3.hs.tokens
/test/testdata/Renaming/D3.hs.AST_out
/test/testdata/Renaming/D3.hs.renamed_out
/test/testdata/Renaming/D3.hs.tokens
/test/testdata/Renaming/A4.hs.AST_out
/test/testdata/Renaming/A4.hs.renamed_out
/test/testdata/Renaming/A4.hs.tokens
/test/testdata/Renaming/B4.hs.AST_out
/test/testdata/Renaming/B4.hs.renamed_out
/test/testdata/Renaming/B4.hs.tokens
/test/testdata/Renaming/C4.hs.AST_out
/test/testdata/Renaming/C4.hs.renamed_out
/test/testdata/Renaming/C4.hs.tokens
/test/testdata/Renaming/D4.hs.AST_out
/test/testdata/Renaming/D4.hs.renamed_out
/test/testdata/Renaming/D4.hs.tokens
/test/testdata/Renaming/A5.hs.AST_out
/test/testdata/Renaming/A5.hs.renamed_out
/test/testdata/Renaming/A5.hs.tokens
/test/testdata/Renaming/C5.hs.AST_out
/test/testdata/Renaming/C5.hs.renamed_out
/test/testdata/Renaming/C5.hs.tokens
/test/testdata/Renaming/D5.hs.AST_out
/test/testdata/Renaming/D5.hs.parsed
/test/testdata/Renaming/D5.hs.renamed_out
/test/testdata/Renaming/D5.hs.tokens
/test/testdata/Renaming/C7.hs.AST_out
/test/testdata/Renaming/C7.hs.renamed_out
/test/testdata/Renaming/C7.hs.tokens
/test/testdata/Renaming/D7.hs.AST_out
/test/testdata/Renaming/D7.hs.renamed_out
/test/testdata/Renaming/D7.hs.tokens
/test/testdata/Renaming/B5.hs.AST_out
/test/testdata/Renaming/B5.hs.renamed_out
/test/testdata/Renaming/B5.hs.tokens
/test/testdata/Renaming/Field4.hs.AST_out
/test/testdata/Renaming/Field4.hs.renamed_out
/test/testdata/Renaming/Field4.hs.tokens
/test/testdata/Renaming/IdIn1.hs.AST_out
/test/testdata/Renaming/IdIn1.hs.renamed_out
/test/testdata/Renaming/IdIn1.hs.tokens
/test/testdata/Renaming/IdIn2.hs.AST_out
/test/testdata/Renaming/IdIn2.hs.renamed_out
/test/testdata/Renaming/IdIn2.hs.tokens
/test/testdata/Renaming/ClassIn1.hs.AST_out
/test/testdata/Renaming/ClassIn1.hs.renamed_out
/test/testdata/Renaming/ClassIn1.hs.tokens
/test/testdata/Renaming/ClassIn2.hs.AST_out
/test/testdata/Renaming/ClassIn2.hs.renamed_out
/test/testdata/Renaming/ClassIn2.hs.tokens
/test/testdata/Renaming/ConstructorIn1.hs.AST_out
/test/testdata/Renaming/ConstructorIn1.hs.renamed_out
/test/testdata/Renaming/ConstructorIn1.hs.tokens
/test/testdata/Renaming/ConstructorIn2.hs.AST_out
/test/testdata/Renaming/ConstructorIn2.hs.renamed_out
/test/testdata/Renaming/ConstructorIn2.hs.tokens
/test/testdata/Renaming/ConstructorIn3.hs.AST_out
/test/testdata/Renaming/ConstructorIn3.hs.renamed_out
/test/testdata/Renaming/ConstructorIn3.hs.tokens
/test/testdata/Renaming/LayoutIn1.hs.AST_out
/test/testdata/Renaming/LayoutIn1.hs.renamed_out
/test/testdata/Renaming/LayoutIn1.hs.tokens
/test/testdata/Renaming/LayoutIn2.hs.AST_out
/test/testdata/Renaming/LayoutIn2.hs.renamed_out
/test/testdata/Renaming/LayoutIn2.hs.tokens
/test/testdata/Renaming/LayoutIn3.hs.AST_out
/test/testdata/Renaming/LayoutIn3.hs.renamed_out
/test/testdata/Renaming/LayoutIn3.hs.tokens
/test/testdata/Renaming/LayoutIn4.hs.AST_out
/test/testdata/Renaming/LayoutIn4.hs.renamed_out
/test/testdata/Renaming/LayoutIn4.hs.tokens
/test/testdata/Renaming/IdIn3.hs.AST_out
/test/testdata/Renaming/IdIn3.hs.renamed_out
/test/testdata/Renaming/IdIn3.hs.tokens
/test/testdata/Renaming/Qualifier.hs.AST_out
/test/testdata/Renaming/Qualifier.hs.renamed_out
/test/testdata/Renaming/Qualifier.hs.tokens
/test/testdata/Renaming/Main.hs.AST_out
/test/testdata/Renaming/Main.hs.renamed_out
/test/testdata/Renaming/Main.hs.tokens
/test/testdata/Renaming/Main2.hs.AST_out
/test/testdata/Renaming/Main2.hs.renamed_out
/test/testdata/Renaming/Main2.hs.tokens
/test/testdata/Case/C.hs.AST_out
/test/testdata/Case/C.hs.renamed_out
/test/testdata/Case/C.hs.tokens
/test/testdata/Case/D.hs.AST_out
/test/testdata/Case/D.hs.renamed_out
/test/testdata/Case/D.hs.tokens
/test/testdata/Case/E.hs.AST_out
/test/testdata/Case/E.hs.renamed_out
/test/testdata/Case/E.hs.tokens

/test/testdata/cabal/cabal1/src/Foo/Bar.hs.AST_out
/test/testdata/cabal/cabal1/src/Foo/Bar.hs.renamed_out
/test/testdata/cabal/cabal1/src/Foo/Bar.hs.tokens
/test/testdata/cabal/cabal1/src/main.hs.AST_out
/test/testdata/cabal/cabal1/src/main.hs.renamed_out
/test/testdata/cabal/cabal1/src/main.hs.tokens
/.vagrant/machines/default/virtualbox/id
/Vagrantfile
/test/testdata/Layout/Do1.hs.AST_out
/test/testdata/Layout/Do1.hs.renamed_out
/test/testdata/Layout/Do1.hs.tokens
/test/testdata/cabal/cabal2/src/Foo/Bar.hs.AST_out
/test/testdata/cabal/cabal2/src/Foo/Bar.hs.renamed_out
/test/testdata/cabal/cabal2/src/Foo/Bar.hs.tokens
/test/testdata/cabal/cabal2/src/main1.hs.AST_out
/test/testdata/cabal/cabal2/src/main1.hs.renamed_out
/test/testdata/cabal/cabal2/src/main1.hs.tokens
/test/UtilsSpec.hs.AST_out
/test/UtilsSpec.hs.renamed_out
/test/UtilsSpec.hs.tokens
/docker/HaRe-7.6.3/HaRe.cabal
/test/TAGS
/test/testdata/Renaming/IdIn5.hs.AST_out
/test/testdata/Renaming/IdIn5.hs.renamed_out
/test/testdata/Renaming/IdIn5.hs.tokens
/test/tags
/test/testdata/Renaming/QualClient.hs.AST_out
/test/testdata/Renaming/QualClient.hs.renamed_out
/test/testdata/Renaming/QualClient.hs.tokens
/test/testdata/Renaming/QualServer.hs.AST_out
/test/testdata/Renaming/QualServer.hs.renamed_out
/test/testdata/Renaming/QualServer.hs.tokens
/src/MainHaRe.hs.AST_out
/src/MainHaRe.hs.renamed_out
/src/MainHaRe.hs.tokens
/test/testdata/LiftToToplevel/Zmapq.hs.AST_out
/test/testdata/LiftToToplevel/Zmapq.hs.renamed_out
/test/testdata/LiftToToplevel/Zmapq.hs.tokens
/src/TAGS
/test/testdata/LiftToToplevel/LetIn3.hs.tokens
/test/testdata/Renaming/Utils.hs.AST_out
/test/testdata/Renaming/Utils.hs.renamed_out
/test/testdata/Renaming/Utils.hs.tokens
/test/testdata/Demote/MultiLeg.hs.AST_out
/test/testdata/Demote/MultiLeg.hs.renamed_out
/test/testdata/Demote/MultiLeg.hs.tokens
/src/Language/Haskell/Refact/MoveDef.hs.AST_out
/src/Language/Haskell/Refact/MoveDef.hs.renamed_out
/src/Language/Haskell/Refact/MoveDef.hs.tokens
/test/testdata/LiftToToplevel/LiftInLambda.hs.AST_out
/test/testdata/LiftToToplevel/LiftInLambda.hs.renamed_out
/test/testdata/LiftToToplevel/LiftInLambda.hs.tokens
/test/testdata/Demote/UsedAtLevel.hs.AST_out
/test/testdata/Demote/UsedAtLevel.hs.renamed_out
/test/testdata/Demote/UsedAtLevel.hs.tokens
/test/testdata/LiftToToplevel/NoWhere.hs.AST_out
/test/testdata/LiftToToplevel/NoWhere.hs.renamed_out
/test/testdata/LiftToToplevel/NoWhere.hs.tokens
/test/testdata/LiftToToplevel/Signature.hs.AST_out
/test/testdata/LiftToToplevel/Signature.hs.renamed_out
/test/testdata/LiftToToplevel/Signature.hs.tokens
/test/testdata/LiftToToplevel/Signature2.hs.AST_out
/test/testdata/LiftToToplevel/Signature2.hs.renamed_out
/test/testdata/LiftToToplevel/Signature2.hs.tokens
/src/Language/Haskell/Refact/Utils/Monad_flymake.hs
/test/CaseSpec_flymake.hs
/test/TestUtils_flymake.hs
/test/testdata/Layout/Foreign_flymake.hs
/test/testdata/Layout/FromMd1_flymake.hs
/test/testdata/Renaming/RenameInExportedType.hs.AST_out
/test/testdata/Renaming/RenameInExportedType.hs.renamed_out
/test/testdata/Renaming/RenameInExportedType.hs.tokens
/test/testdata/Renaming/RenameInExportedType2.hs.AST_out
/test/testdata/Renaming/RenameInExportedType2.hs.renamed_out
/test/testdata/Renaming/RenameInExportedType2.hs.tokens
/.cabal-sandbox/
/cabal.sandbox.config
