# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.log
*.synctex.gz
# ELisp
.cask/
*.elc
/esh-pkg.el
.auctex/
# Misc
*.esh.*
*.esh-pv.tex
/todo.org
/example/example.pdf
/example/esh-preamble.tex
/tests/cli/
/tests/esh-preamble.tex
/private/
/tests/outputs/esh-preamble.css
