/* Style sheet for the Proof General web pages. 
 * David Aspinall, June 1999.
 * proofgen.css,v 4.0 2000/03/13 07:36:57 da Exp
 */

body{
 font-family: Verdana, Arial, sans-serif;	/* font for the doc body */
 background: #2D1D03;					/* background brown */
 background-image: 
	url(http://zermelo.dcs.ed.ac.uk/~proofgen/images/canvaswallpaper.jpg);
 background-attachment: fixed;				/* background shouldn't scroll */
 color: #FFFFFF						/* text colour is white */
}

p{
 font-family: Verdana, Arial, sans-serif;	/* Netscape is picky, */
 color: #FFFFFF						/* so we must set every tag */
}

pre{
 font-family: LucidaTypewriter, mono;
 color: #FFFFFF					
}

h1{
 font-family: Verdana, Arial, sans-serif;
 color: #FFFFFF;
 font-size: large;
 font-series: bold
}

h2{
 font-family: Verdana, Arial, sans-serif;
 font-size: medium;
 color: #FFFFD0
}

h3{
 font-family: Verdana, Arial, sans-serif;	
 font-size: medium;
 color: #FFFFD0
}

h4{
 font-family: Verdana, Arial, sans-serif;	
 font-size: medium;
 color: #FFD0D0
}

h5{
 font-family: Verdana, Arial, sans-serif;	
 font-size: medium;
 color: #E0C0C0
}

blockquote,form,input,select{
 font-family: Verdana, Arial, sans-serif;	
 color: #FFFFFF
}

address{
 font-family: Verdana, Arial, sans-serif;	
 font-size: small;				/* "smaller" is better on IE */
 color: #FFFFFF					/* but varies randomly in NN */
}

input,select,textarea {
 background: #2D1D03;
 color: #FFFFFF
}

/* Lists */

dl,ul,dir,li{
 font-family: Verdana, Arial, sans-serif;	
 color: #FFFFFF
}
dt{ font-style: italic; font-weight: bold }      /* Netscape misses this */

/* Table Elements */
table{
 font-family: Verdana, Arial, sans-serif;	
/* background: #2D1D03; */
 color: #FFFFFF
}

td,tr{
 font-family: Verdana, Arial, sans-serif;	
/* background: #2D1D03; */
 color: #FFFFFF
}

/* Link Elements */
a:link,a:visited{					/* visited appears same */
 font-family: Verdana, Arial, sans-serif;	
 text-decoration: none;				/* Remove the underline */
 color: #FFD820
}

/* hover is IE specific nasty but nice */
a:active,a:hover{
 font-family: Verdana, Arial, sans-serif;	
 text-decoration: underline;			/* Underline on mouse over */
 color: #FFF030					/* Brighter colour too */
}


pre{
 background: #2D1D03;
}

/* Specifics */

p.nb{
 font-size: smaller,
 font-style: italic
}

