[Desktop Entry]
Name=Proof General
Comment=Organise Your Proofs!
Exec=proofgeneral %F
Icon=proofgeneral.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Development;TextEditor
StartupWMClass=Emacs

