[Desktop Entry]
Name=Proof General
GenericName=Theorem proving environment
Comment=Organise your proofs!
Exec=proofgeneral %F
Icon=proofgeneral.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;IDE;Development;TextEditor;Math
StartupWMClass=Emacs

