-- This is a Cabal package environment file, for use in our unit test suite.

local-repo: /foo/bar/.cabal-sandbox/packages
logs-dir: /foo/bar/.cabal-sandbox/logs
world-file: /foo/bar/.cabal-sandbox/world
user-install: False
package-db: /foo/bar/.cabal-sandbox/foo-packages.conf.d
build-summary: /foo/bar/.cabal-sandbox/logs/build.log

install-dirs
  prefix: /foo/bar/.cabal-sandbox
  bindir: $prefix/bin
  libdir: $prefix/lib
  libsubdir: $abi/$pkgkey
  libexecdir: $prefix/libexec
  datadir: $prefix/share
  datasubdir: $abi/$pkgid
  docdir: $datadir/doc/$abi/$pkgid
  htmldir: $docdir/html
  haddockdir: $htmldir
  sysconfdir: $prefix/etc
