*~
auto
/test/block-comment.tex
/test/markdown-el.html
/test/owl.tex
*elc
*texi
*info
*html
/.cask/
\#*\#
/dist
/org
/lentic-pkg.el
/local-lentic-autoloads.el
/lentic.org
/lentic-*.org
/lentic-autoloads.el
/examples/lentic-orgel-org-big.org
/examples/block-comment.tex
/examples/orgel-org.org
/examples/adoc-clj.clj
/examples/block-comment-delayed.tex
/examples/clj-adoc.adoc
/examples/owl.tex
/examples/literate-haskell.tex
/examples/multi-orgel-org.org
Makefile-local
/examples/multi-block-comment.tex
/examples/multi-block-comment-copy.tex
/examples/org-el-clj-python.clj
/examples/org-el-clj-python.el
/examples/org-el-clj-python.py
/examples/org-python.py
/examples/many-multi-block-comment-copy.tex
/dev-resources/asciidoc-clj.clj
/examples/orgel-org-with-tags.org
/test/install-test/.cask
/dev-resources/fillsh.org
/dev-resources/fulllua.org
/dev-resources/fullpython.org
